# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\incor\IdeaProjects\KonoplevI_11005_Java\KonoplevI_11005_Java\dobor_ballov_\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
